{% extends 'backend/backend_succor.html' %}

{% block title %} Home {% endblock %}

{% block user %} {{user}} {% endblock %}

  {% block content %}

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div style="color: white;" class="alert alert-{{ category }}" role="alert">
      <span class="alert-icon"><i class="ni ni-like-2"></i></span>
      <span class="alert-text"><strong>Awesome!</strong> {{ message }} <strong>{{ user }}!</strong></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {% endfor %}
  {% endwith %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Money</p>
                    <h5 class="font-weight-bolder">
                      $53,000
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+55%</span>
                      since yesterday
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Users</p>
                    <h5 class="font-weight-bolder">
                      2,300
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+3%</span>
                      since last week
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">New Clients</p>
                    <h5 class="font-weight-bolder">
                      +3,462
                    </h5>
                    <p class="mb-0">
                      <span class="text-danger text-sm font-weight-bolder">-2%</span>
                      since last quarter
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Sales</p>
                    <h5 class="font-weight-bolder">
                      $103,430
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+5%</span> than last month
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">

        <!-- Wallet-->
        <div class="row mt-4">
          <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card ">
              <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between" align="center">
                  <h6 class="mb-2">My Wallet Details </h6>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center ">
                  <tbody>
                    <tr>
                      <td class="w-30">
                        <div class="d-flex px-2 py-1 align-items-center">
                          <!-- <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/flags/US.png') }}" alt="Country flag">
                          </div> -->
                          <div class="ms-4">
                            <p class="text-xs font-weight-bold mb-0">Current Balance:</p>
                            <h6 class="text-sm mb-0">$50.00</h6>
                          </div>
                        </div>
                      </td>
                      
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Previous Balance:</p>
                          <h6 class="text-sm mb-0">$1</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Redrawal:</p>
                          <h6 class="text-sm mb-0">$10.00</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Purpose:</p>
                          <h6 class="text-sm mb-0">1</h6>
                        </div>
                      </td>
                      <td class="align-middle text-sm">
                        <div class="col text-center">
                          <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                          <h6 class="text-sm mb-0">29.9%</h6>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-30">
                        <div class="d-flex px-2 py-1 align-items-center">
                          <!-- <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/flags/US.png') }}" alt="Country flag">
                          </div> -->
                          <div class="ms-4">
                            <p class="text-xs font-weight-bold mb-0">Current Balance:</p>
                            <h6 class="text-sm mb-0">$50.00</h6>
                          </div>
                        </div>
                      </td>
                      
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Previous Balance:</p>
                          <h6 class="text-sm mb-0">$1</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Redrawal:</p>
                          <h6 class="text-sm mb-0">$10.00</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Purpose:</p>
                          <h6 class="text-sm mb-0">1</h6>
                        </div>
                      </td>
                      <td class="align-middle text-sm">
                        <div class="col text-center">
                          <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                          <h6 class="text-sm mb-0">29.9%</h6>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w-30">
                        <div class="d-flex px-2 py-1 align-items-center">
                          <!-- <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/flags/US.png') }}" alt="Country flag">
                          </div> -->
                          <div class="ms-4">
                            <p class="text-xs font-weight-bold mb-0">Current Balance:</p>
                            <h6 class="text-sm mb-0">$50.00</h6>
                          </div>
                        </div>
                      </td>
                      
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Previous Balance:</p>
                          <h6 class="text-sm mb-0">$1</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Redrawal:</p>
                          <h6 class="text-sm mb-0">$10.00</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Purpose:</p>
                          <h6 class="text-sm mb-0">1</h6>
                        </div>
                      </td>
                      <td class="align-middle text-sm">
                        <div class="col text-center">
                          <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                          <h6 class="text-sm mb-0">29.9%</h6>
                        </div>
                      </td>
                    </tr>
                
                    
                    <tr>
                      <td class="w-30">
                        <div class="d-flex px-2 py-1 align-items-center">
                          <!-- <div>
                            <img src="{{ url_for('static', filename='assets/img/icons/flags/US.png') }}" alt="Country flag">
                          </div> -->
                          <div class="ms-4">
                            <p class="text-xs font-weight-bold mb-0">Current Balance:</p>
                            <h6 class="text-sm mb-0">$50.00</h6>
                          </div>
                        </div>
                      </td>
                      
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Previous Balance:</p>
                          <h6 class="text-sm mb-0">$1</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Redrawal:</p>
                          <h6 class="text-sm mb-0">$10.00</h6>
                        </div>
                      </td>
                      <td>
                        <div class="text-center">
                          <p class="text-xs font-weight-bold mb-0">Purpose:</p>
                          <h6 class="text-sm mb-0">1</h6>
                        </div>
                      </td>
                      <td class="align-middle text-sm">
                        <div class="col text-center">
                          <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                          <h6 class="text-sm mb-0">29.9%</h6>
                        </div>
                      </td>
                    </tr>
                    <tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        <!-- Profile -->
        <div class="col-md-4">
          <div class="card card-profile">
            <img src="{{ url_for('static', filename='assets/img/bg-profile.jpg') }}" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-4 col-lg-4 order-lg-2">
                <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                  <a href="javascript:;">
                    <img src="{{ url_for('static', filename='assets/img/team-2.jpg') }}" class="rounded-circle img-fluid border border-2 border-white">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
              <div class="d-flex justify-content-between">
                <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Connect</a>
                <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Message</a>
                <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"><i class="ni ni-email-83"></i></a>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="text-center mt-4">
                <div class="row">
                  <h5>Hope Davids<span class="font-weight-light">, active</span></h5>

                  <p>Email: {{user.email}}</p>
                  <p>Wallet ID: </p>
                  <p>Date Created: {{user.created_date}}</p>

                  
                </div>
                <!-- <div class="col">
                  <div class="d-flex justify-content-center">
                    <div class="d-grid text-center">
                      <span class="text-lg font-weight-bolder">22</span>
                      <span class="text-sm opacity-8">Friends</span>
                    </div>
                    <div class="d-grid text-center mx-4">
                      <span class="text-lg font-weight-bolder">10</span>
                      <span class="text-sm opacity-8">Photos</span>
                    </div>
                    <div class="d-grid text-center">
                      <span class="text-lg font-weight-bolder">89</span>
                      <span class="text-sm opacity-8">Comments</span>
                    </div>
                  </div>
                </div>  -->
              </div>
               <!----
                <div class="h6 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
                <div class="h6 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <br>
                <div>
                  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make a Donation Today!</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        
        <!-- carousel -->

      
        
      </div>
    </div>

    </div>
  {% endblock %}